form(action='/settings/account-settings/change-username' method='post' class='settings-form')
    h3 Change Username
    p Current Username: #{username}
    .change-inputs
        input(type='text' name='username' class='updated-username update-input' placeholder='your new username' required)
        button(class='update-btn') Update
    p.errMsg= nameErr

form(action='/settings/account-settings/change-password' method='post' class='settings-form change-password-form')
    h3 Change Password
    .change-inputs
        input(type='password' name='currentPassword' class='update-input' placeholder='your current password' required)
        input(type='password' name='newPassword' class='updated-password update-input' placeholder='your new password' required)
        button(class='update-btn' required) Update
    p.errMsg= passwordErr  
